{% extends 'base.html' %}
{% block title %} Welcome to TTT! {% endblock %}

{% block content %} 
    <center> 
        <div class='container' style="width: 650px">
            <div class = mt-4>
                <img src= {{ url_for('static', filename='images/ttt.png') }} class="img-thumbnail" alt="" width="150" height="150"> 
                <h1> Welcome to 3D Tick Tack Toe! </h1>
                
                To begin, either <a href="/multiplayer" id='create_multiplayer'>create</a> a new multiplayer game, 
                <a href={{url_for('singleplayer')}} id='create_single'>play</a> vs AI 
                or <a href="#" id='join'>join</a> an existing game
            </div>
        </div>

        <div class='container' id='multiplayer_popup' style="width: 650px" hidden=true>
            <div class = 'mt-4 px-1 '>
                <form action="/join_game", method="GET">
                        <label for="exampleInputEmail1">To join a multiplayer game </label>
                        <input type="text" id="game_id" name="game_id" placeholder="enter your game ID">
                </form>
            </div>
        </div>

        <div class='container' style="width: 650px">
            <div class = 'mt-4 px-1'>
                <h1> How to Play</h1>
                <h2> The Basics </h2>
                This is a 3D version of the classic Tick-Tack-Toe game, there are three boards of 3x3 cells each.
                To win, a player must must have a series of 3 consecutive cells marked with the same symbol either 
                within the same board or across the 3 boards. <br /> 

                <h2> Some Examples of Wins </h2>
                <h5> 3 across on a single board </h5>
                <img src= {{ url_for('static', filename='images/ex1.png') }} class="img-thumbnail" width="65%"> 
                <h5> 3 across on all boards </h5>
                <img src= {{ url_for('static', filename='images/ex2.png') }} class="img-thumbnail" width="65%"> 
                <h5> Diagonal on all boards </h5>
                <img src= {{ url_for('static', filename='images/ex3.png') }} class="img-thumbnail" width="65%"> 
                <h5> The same cell on all boards </h5>
                <img src= {{ url_for('static', filename='images/ex4.png') }} class="img-thumbnail" width="65%"> 
            </div>
        </div>
    </center>
    <br />
    <script src={{ url_for('static', filename='js/index.js') }}></script>
{% endblock %}